In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv("cost_revenue.csv")

In [3]:
data.head(5)

   production_budget_usd  worldwide_gross_usd
0                1000000                   26
1                  10000                  401
2                 400000                  423
3                 750000                  450
4                  10000                  527

In [4]:
data.shape

(5034, 2)

In [6]:
data.dtypes

production_budget_usd    int64
worldwide_gross_usd      int64
dtype: object

In [8]:
data.sort_values(by="worldwide_gross_usd", ascending=False).head(5)

      production_budget_usd  worldwide_gross_usd
5033              425000000           2783918982
5032              200000000           2207615668
5031              306000000           2058662225
5030              215000000           1671640593
5029              225000000           1519479547

In [67]:
x_1 = data["worldwide_gross_usd"]
x_2 = data["production_budget_usd"]
def diff_val(x_1,x_2):
    if x_1 >= x_2:
        print("there is loss")
    else:
        print("profit was made")

In [69]:
diff_val(225000000,1519479547)

profit was made

In [55]:
data["production_cost_diff"] = data["production_budget_usd"]**2

In [36]:
print(data)

      production_budget_usd  worldwide_gross_usd  production_cost_diff
0                   1000000                   26         1000000000000
1                     10000                  401             100000000
2                    400000                  423          160000000000
3                    750000                  450          562500000000
4                     10000                  527             100000000
...                     ...                  ...                   ...
5029              225000000           1519479547     50625000000000000
5030              215000000           1671640593     46225000000000000
5031              306000000           2058662225     93636000000000000
5032              200000000           2207615668     40000000000000000
5033              425000000           2783918982    180625000000000000

[5034 rows x 3 columns]

In [47]:
def get_milk():
    print('This si the column of the production budget in usd')
    print(data["production_budget_usd"])

In [48]:
get_milk()

This si the column of the production budget in usd
0         1000000
1           10000
2          400000
3          750000
4           10000
          ...
5029    225000000
5030    215000000
5031    306000000
5032    200000000
5033    425000000
Name: production_budget_usd, Length: 5034, dtype: int64